
@{
    ViewBag.Title = "AboutUs";
}
@Html.Partial("Nav")

<h2>AboutUs</h2>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">Generally</div>
        <div class="panel-body">We give cars for a limited amount of time... like
        any other Car Rental Company. But better !!!!</div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">How are we better than Our Competititors ?</div>
        <div class="panel-body">We present the most legit deal when it comes
        to Renting for a good price.
        Not to low to , but not to high</div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">How does it work ?</div>
        <div class="panel-body">Getting a simple cars to rent for singles
        may come in a very cheap price. if you're a family guy and you have 5 kids 
        , we have Station car typed that suit their price also , even lower !
            sports cars are also here and come with a fair price also</div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Any way to content you guys ?</div>
        <div class="panel-body">Ofcourse !!!
            we have CarRentz@gmail.com <br /> 
        phone number -  03-6903245</div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">Is this legit ?</div>
        <div class="panel-body">Yes , there are hundrends of car renting sites in Israel. <br />
        All who are which provide the same serive , howevernot as good as us !</div>
    </div>
</div>