
@{
    ViewBag.Title = "Home";
}


@Html.Partial("Nav")

<h2>Home</h2>
<section class="container" >
    <div class="jumbotron" style="background-color:deepskyblue">
        <h1>Car Rentz Motto</h1>
        <p>We at "Car Rentz" , insure our customers get the best out of I service and Vehicles.<br />
        from simple Cars to the most advance ones and even old classics<br />
        Please , don't be shy !<br />
        Search for a vehicle you always wanted to try !!<br />
        for our <a href="/CarRentz/Policy">Company Policy</a> , click "Our Policy" in the navigartion menu</p>
    </div>
</section>
@Html.Partial("FilterSearch")




