
@{
    ViewBag.Title = "Policy";
}
@Html.Partial("Nav")

<div class="container">
    <h2> Our Policy</h2>
    <ul class="list-group">
        <li class="list-group-item active">To rent a Car , you must have a User account at our site</li>
        <li class="list-group-item">Renting cars are with simple payment methods</li>
        <li class="list-group-item active">Return a car is usually done by our Employees</li>
        <li class="list-group-item">Content us or arrive at our Branches to return cars</li>
        <li class="list-group-item active">Any day that is out of the returned date sumbited , will add for the cost of the rented car (sometimes even more than daily rent !!!)</li>
        <li class="list-group-item">You can return (in our site) any car that rented to you <i>before</i> its "start date" has started</li>
    </ul>
</div>






