
@{
    ViewBag.Title = "CEO";
}

<h2>CEO</h2>

@Html.Partial("CEOnav")

<section class="container">
    <div class="jumbotron" style="background-color:crimson">
        <h1>The CEO/Admin page</h1>
        <p>
            Please use cautiously the tools given to you , everything you do can effect significantly the data base of the website "Car Rentz"
            We advise contenting our software support (Omri Zeevi) , if you encounter any situation where you might not understand how to perform anytask on database
        </p>
    </div>
</section>